<!doctype html>
<html>
<head>
  <title>Test'em</title>

  <script src="/testem/jasmine.js"></script>
  <script src="/testem.js"></script>
  <script src="/testem/jasmine-html.js"></script>
  <script>
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.addReporter(new jasmine.HtmlReporter);

      window.addEventListener('load', function() {
        jasmineEnv.execute();
      });
    })();
  </script>
  
  <script src="/generated/js/vendor.js"></script>
  <script src="/generated/js/app.js"></script>
  <script src="/generated/js/spec.js"></script>
  <script src="//localhost:35729/livereload.js"></script>

  <link rel="stylesheet" href="/testem/jasmine.css">
</head>
<body>
  <div id="jasmine_content"></div>
</body>
</html>